lark-parser~=0.8.6
llvmlite~=0.33.0
colorama~=0.4.3
rply~=0.7.7
anyconfig~=0.9.11
ruamel.yaml~=0.16.10
toml~=0.10.1
jsonschema~=3.2.0
munch~=2.5.0
jsonpickle~=1.4.1
hurry~=1.1
pythonfuzz~=1.0.3
yappi~=1.2.5
gil_load~=0.4.0
numba~=0.49.1
setuptools~=46.1.3